<html>
    <head>
        <title>Hbsis</title>
        <link rel="stylesheet" href="../static/trabalho.css">
    </head>
    <body>
        <div class="cabecalho">
            <a href="/">
                <img src="../static/img/patagonia-logo-mountain.png" alt="">
            </a>
        </div>

        <ul>
            <li>KAISER</li>
            <li>PATAGONIA</li>
            <li>SKOL</li>
        </ul>
        <ol>
            <li>KAISER</li>
            <li>PATAGONIA</li>
            <li>SKOL</li>
        </ol>
        

    </body>
</html>