{% extends "tbl.html" %}
{% block conteudo %}
    <div>
        <h1>CADASTRAR CERVEJA: </h1>
        <form action="/salvar" method="POST">
            <div class="labels">    
                <label for="">Nome</label> 
            </div>    
            <input type="text" name="nome">
            
            <div class="labels">
                <label for="">Tipo</label>
            </div>
            <input type="text" name="tipo">

            <div class="labels">
                <label for="">Preço</label>
            </div>
            <input type="text" name="preço">
            
            <div class="labels">
                <label for="">Validade</label>
            </div>
            <input type="text" name="validade">
            <br>
            <input type="submit" value="Salvar">
        </form>
    </div>
{% endblock %}
